*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-family: Calibri, sans-serif;
}
body{
    background-color: #d3e0ea;
}   
header{
    width: 100vw;
    padding-top: 20px;
    position: fixed; 
}
.foto{
    float: left;
    width: 130px;
    height: 150px;
    border-radius: 40%;
}
.name{
    display: inline-block;
    margin: 15px 20px 0;
}
.mail{
    margin-left: 150px;
    margin-top: 6px;
    color: darkblue;
}
.movil{
    margin-left: 150px;
    margin-top: 2px;
}
.seccion_ini{
    width: 100vw;
    height: 100px;
    position: absolute;
    background-color: rgb(143, 177, 240);
    margin-top: 200px;
}

.perfil{
    text-align: justify;
    padding: 10px 10px;
  }
.content-navigator{
    
    position: absolute;
    margin-top: 350px;
    width: 100vw;
}
.nevegacion{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nevegacion .bar_nav{
    display: inline-block;
    font-weight: bold;
    margin-left: 11%;
}
li:hover {
    color:darkblue;
}
.ir_content{
    text-decoration: none;
    color: darkblue;
    display: block;
    padding: 10px 45px;
}
.ir_content:hover{
    background-color: #CAF6FB;
}

.social_media{
    position: absolute;
    margin-top: 520px;
    width: 100vw;
    height: 50px;
}
.iconos{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.facebook{
    background: url(./iconos/faceb.jpeg) no-repeat;
    background-size: cover;
    margin-left: 30%;
}
.linkedin{
    background: url(./iconos/linkedin.jpg) no-repeat; 
    background-size: cover;
    margin-left: 15%;
}
.twitter{
    background: url(./iconos/twitter.jpg) no-repeat; 
    background-size: cover;
    margin-left: 15%;
}

.redes{
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
}

@media screen and (max-width: 425px){
    header .foto{
        position: absolute;
        margin-left: 33%;
    }
    header .name{
        margin-top: 160px;
        margin-left: 45px;
    }
    header .mail{
        margin-left: 70px;
    }
    header .movil{
        margin-left: 115px;
    }
    .seccion_ini{
        margin-top: 300px;
        height: 250px;
    }
    .social_media{
        margin-top: 720px;
    }
    .facebook{
        margin-left: 15%;
    }
    .content-navigator{
        margin-top: 580px;
    }
    .nevegacion .bar_nav{
        display: inline-block;
        font-weight: bold;
        margin-left: 2%;
    }
    .ir_content{
        padding: 10px 6px;
    }
 
}

